<br />
<br />
<hr />
<div class="row">

	<div class="small-6 small-centered columns">

		<fieldset>
			
			<legend>Sign up</legend>

			<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { "data-abide" => "" }) do |f| %>
  				<div class="field">
  					<%= f.label :username %>
  					<%= f.text_field :username, autofocus: true, required: true %>
  					<small class="error">Username is required.</small>
  				</div>
  				
  				<div class="field">
  					<%= f.label :email %><br />
  					<%= f.email_field :email, required: true %>
  					<small class="error">Email is required.</small>
  				</div>

  				<div class="field">
  					<%= f.label :password %><br />
    				<%= f.password_field :password, autocomplete: "off", required: true %>
    				<small class="error">Password is required.</small>
    			</div>

  				<div class="field">
  					<%= f.label :password_confirmation %><br />
    				<%= f.password_field :password_confirmation, autocomplete: "off", required: true %>
    				<small class="error">Password confirmation is required.</small>
    			</div>

  				<div class="field">
  					<%= f.submit "Sign up" %>
  				</div>
			<% end %>

			<div class="field">
				<%= render "devise/shared/links" %>
			</div>

		</fieldset>
	</div>
</div>

