<br />
<br />
<hr />
<div class="row">
	<div class="small-6 small-centered columns">
		<fieldset>
			<legend>Forgot your password?</legend>

			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  				<%= devise_error_messages! %>

  				<div class="field">
  					<%= f.label :email %>
  					<%= f.email_field :email, autofocus: true %>
  				</div>

  				<div class="field">
  					<%= f.submit "Send me reset password instructions" %>
  				</div>
			<% end %>

			<div class="field">
				<%= render "devise/shared/links" %>
			</div>

		</fieldset>
	</div>
</div>
