<br />
<br />
<div class="row">
	<div class="large-12 large-centered columns">
		<h1 class="text-center">My Coffee Balance</h1>

		<table class="full_width">
		  <thead>
		    <tr>
		      <th>Coffee type</th>
		      <th>Balance</th>
		      <th class="action_column_large">Actions</th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @coffee_balances.each do |coffee_balance| %>
		      <tr>
		        <td><%= CoffeeType.find(coffee_balance[0]).name %></td>
		        <td class="right"><%= coffee_balance[1] %></td>
		        <td class="action_column_large">
		        	<span class="btn_plus action_image" data-coffee-type-id="<%= coffee_balance[0] %>"><%= image_tag "ic_plus.png" %></span>
		        	<span class="btn_minus action_image" data-coffee-type-id="<%= coffee_balance[0] %>"><%= image_tag "ic_minus.png" %></span>
		        </td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
</div>

