<%= form_for(@coffee_type, :html => {"data-abide" => ""}) do |f| %>
  <% if @coffee_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coffee_type.errors.count, "error") %> prohibited this coffee_type from being saved:</h2>

      <ul>
      <% @coffee_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :required => true %>
    <small class="error">Name is required and must not be empty.</small>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
