<div class="row">
	<div class="large-12 large-centered columns">
		<h1 class="text-center">Listing Coffee Types</h1>

		<table class="full_width">
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th class="action_column"></th>
		      <th class="action_column"></th>
		      <th class="action_column"></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @coffee_types.each do |coffee_type| %>
		      <tr>
		        <td><%= coffee_type.name %></td>
		        <td class="action_column"><%= link_to 'Show', coffee_type %></td>
		        <td class="action_column"><%= link_to 'Edit', edit_coffee_type_path(coffee_type) %></td>
		        <td class="action_column"><%= link_to 'Destroy', coffee_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>

		<br>

		<%= link_to 'New Coffee type', new_coffee_type_path %>
	</div>
</div>
