<div class="row">
	<div class="large-6 large-centered columns">
		<p id="notice"><%= notice %></p>

		<p>
  			<strong>Name:</strong>
  			<%= @coffee_type.name %>
		</p>

		<%= link_to 'Edit', edit_coffee_type_path(@coffee_type) %> |
		<%= link_to 'Back', coffee_types_path %>
	</div>
</div>