<br />
<br />
<hr />
<div class="row">

	<div class="small-6 small-centered columns">

		<fieldset>
			
			<legend>Sign in</legend>

			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  				<div class="field">
  					<%= f.label :login %>
  					<%= f.text_field :login, autofocus: true %>
  				</div>

  				<div class="field">
  					<%= f.label :password %><br />
    				<%= f.password_field :password, autocomplete: "off" %>
    			</div>

  				<% if devise_mapping.rememberable? -%>
    				<div class="field"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  				<% end -%>

  				<div class="field">
  					<%= f.submit "Sign in" %>
  				</div>
			<% end %>

			<div class="field">
				<%= render "devise/shared/links" %>
			</div>

		</fieldset>
	</div>
</div>
