/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require select2

 *= require_tree .
 */
.footer_info {
	position: fixed;
	bottom: 0;
	left: 50%;
}
footer {
	height: 155px; /* .push must be the same height as .footer */
}

.full_width {
	width: 100%;
}

.action_column {
	width: 80px;
	float: none !important;
}

.action_column_large {
	width: 100px;
	float: none !important;
}

.action_image {
	margin-left: 8px;
	margin-right: 8px;
	cursor: pointer;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
	width: 100%;
}