<%= form_for(@appointment, :html => {"data-abide" => ""}) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :coffee_type_id %>
    <%= collection_select(:appointment, :coffee_type_id, CoffeeType.all, :id, :name, :prompt => "Select coffee type...", :required => true) %>
    <small class="error">Coffee type is required. Select a coffee type.</small>
  </div>
  
  <!-- The current user is the appointment owner -->
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="field">
  	<%= f.label :amount %>
  	<%= f.number_field :amount, required: true %>
  	<small class="error">Amount is required. Enter an integer value.</small>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
