<div class="row">

	<div class="large-12 columns">
		<h1 class="text-center">Listing appointments</h1>

		<table class="full_width">
		  <thead>
		    <tr>
		      <th>Coffee type</th>
		      <th>User</th>
		      <th>Amount</th>
		      <th class="action_column"></th>
		      <th class="action_column"></th>
		      <th class="action_column"></th>
		    </tr>
		  </thead>
		
		  <tbody>
		    <% @appointments.each do |appointment| %>
		      <tr>
		      	<td><%= appointment.coffee_type.name %></td>
		      	<td><%= appointment.user.username %></td>
		      	<td><%= appointment.amount %></td>
		        <td class="action_column"><%= link_to 'Show', appointment %></td>
		        <td class="action_column"><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
		        <td class="action_column"><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
		<br>

		<div class="pagination-centered">
			<ul class="pagination">
				<% if @pages > 0 %>
					<% @pages.times do |i| %>
						<%= content_tag :li, class: @page.to_i == (i + 1).to_i ? "current" : ""  do -%>
							<a href="<%= request.fullpath.split("?")[0] %>?page=<%= i + 1 %>"><%= i + 1 %></a>
						<% end %>
					<% end %>
				<% else %>
					<li class="current"><a href="javascript:void(0)">1</a></li>
				<% end %>
			</ul>
		</div>
		<br>

		<%= link_to 'New Appointment', new_appointment_path %>

	</div>
</div>
