<div class="row">
	<div class="large-6 large-centered columns">
		<p id="notice"><%= notice %></p>

		<p>
  			<strong>Coffee type:</strong>
  			<%= @appointment.coffee_type.name %>
		</p>
		<p>
  			<strong>Owner:</strong>
  			<%= @appointment.user.login %>
		</p>
		<p>
  			<strong>Amount:</strong>
  			<%= @appointment.amount %>
		</p>

		<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
		<%= link_to 'Back', appointments_path %>
	</div>
</div>
