<% if user_signed_in? -%>
	<nav class="top-bar" data-topbar>
		<ul class="title-area">
			<li class="name">
				<h1><a href="/"><%= image_tag "logo.png" %>Coffee Capsules</a></h1>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
		</ul>
		
		<section class="top-bar-section">
			<!-- Right Nav Section -->
			<ul class="right">
				<li class="divider"></li>
				<li><a href="#"><%= link_to current_user.login, "/users/edit" %></a></li>
				<li class="divider"></li>
				<li style="margin: 0px 15px; 0px 15px"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete, :class => 'small button' %></li>
			</ul>
			<!-- Left Nav Section -->
			<ul class="left">
				<li class="divider"></li>
				<li class="has-dropdown">
					<a href="#">Capsule Types</a>
					<ul class="dropdown">
						<li><%= link_to 'List', :coffee_types %></li>
						<li><%= link_to 'New', new_coffee_type_path %></li>
					</ul>
				</li>
				<li class="divider"></li>
				<li class="has-dropdown">
					<a href="#">Appointments</a>
					<ul class="dropdown">
						<li><%= link_to 'List all', :appointments %></li>
						<li><%= link_to 'List my', "/appointments/by_user/current" %></li>
						<li><%= link_to 'New', new_appointment_path %></li>
					</ul>
				</li>
				<li class="divider"></li>
			</ul>
		</section>
	</nav>
<% end -%>