<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Coffee Balance" %></title>

	<%= favicon_link_tag "favicon.ico" %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

	<%= render "layouts/menu" %>
	<section role="main" class="scroll-container">
		<%= yield %>
	</section>
	
	<footer>
		<div class="row">
			<div class="large-12 large-centered columns">
				<div class="panel">
		  			<p>&copy; Coffee Capsules - by <a href="http://www.linkedin.com/profile/view?id=44607215" target="_blank">Rafael Berne</a></p>
				</div>
			</div>
		</div>
	</footer>
	
    <%= javascript_include_tag "application" %>
  </body>
  <script>
	$(document).ready(function() {
	  var $select = $("select.select2");
	  if ($select.length > 0) {
	  	$select.select2();
	  }
	  

      fixFooter();
	    $(window).bind("resize", function () {
	      fixFooter();
	  });
		
	  function fixFooter() {
        var footer = $("footer");
		var pos = footer.position();
		var height = $(window).height();
		height = height - pos.top;
		height = height - footer.height();
		if (height > 0) {
		  footer.css({ 'margin-top': height + 'px' });
		}
	  }
	});
  </script>
</html>